<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Public API</title>
  <link rel="stylesheet" href="/styles/style.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
</head>

<body>
  <header>
    <h1 class="title"><%= title %></h1>
  </header>
  <main>
    <div class="listinput">
      <form action="/" method="POST">
        <input class="tinput" type="date" name="inputdate" placeholder="Enter date" value=<%= date%> />
        <input class="binput" type="submit" value="Enter" />
      </form>
    </div>
    <div class="border">
      <img src=<%= image %> alt="" />
    </div>

    <p>
      <%= description %>
    </p>
  </main>
</body>

</html>