<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Public API</title>
  </head>
  <body>
    <head>
      <h1 class="title">NASA Picture of the Day</h1>
    </head>
    <main>
      <div class="listinput">
        <form action="/" method="POST">
          <input
            class="tinput"
            type="text"
            name="inputdate"
            placeholder="Enter date"
          />
          <input class="binput" type="submit" value="Enter" />
        </form>
      </div>

      <img
        src="https://keyassets.timeincuk.net/inspirewp/live/wp-content/uploads/sites/14/2021/08/EY69TW-920x518.jpg"
        alt=""
      />

      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque dicta
        qui dolores veniam libero doloremque facilis, corrupti sint vel
        praesentium laborum, omnis ex, distinctio totam esse nulla eos error
        nesciunt.
      </p>
    </main>
    <footer>Copyright @ 2023</footer>
  </body>
</html>
